Host localhost1
Hostname localhost

Host localhost2
Hostname localhost

Host localhost3
Hostname localhost

Host localhost4
Hostname localhost

Host localhost5
Hostname localhost

Host localhost6
Hostname localhost

Host localhost7
Hostname localhost

Host localhost8
Hostname localhost

Host localhost9
Hostname localhost

Host localhost10
Hostname localhost

Host localhost11
Hostname localhost

Host localhost12
Hostname localhost

Host localhost13
Hostname localhost

Host localhost14
Hostname localhost

Host localhost15
Hostname localhost

Host localhost16
Hostname localhost

Host localhost17
Hostname localhost

Host localhost18
Hostname localhost

Host localhost19
Hostname localhost

Host localhost20
Hostname localhost

Host localhost21
Hostname localhost
